.user-detail-block {
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000042;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .user-detail-block.show {
    opacity: 1;
    visibility: visible;
  }
  .user-detail-title{
    margin: 0 12px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .user-detail {
    background-color: var(--navbar-base-color);
    display: flex;
    width: 70%;
    max-width: 860px;
    border-radius: 40px;
    padding: 23px;
    padding-top: 12px;
    flex-direction: column;
    color: #dad7d7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }
  
  .user-detail.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
.user-detail-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.user-detail-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.user-detail-avatar > img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 64px;
    border: 1px solid #ccc;
}

.user-detail-row{
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
    border: 1px solid #cccccc34;
    border-radius: 20px;
}
.user-detail-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-detail-login-item{
    display: flex;
    padding: 20px;
    margin-left: 64px;
    flex-direction: column;
    width: 80%;
}
.user-detail-login-item:first-child{
    border-bottom: 1px solid #cccccc73;

}
.user-detail-password{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.user-detail-password  > span:first-child{
  font-weight: 600;
}
.user-detail-password-change{
  transition: all 0.3s ease;
}
.user-detail-login-item span {
    flex: 1;
}
.user-detail-password-change.hidden {
  display: none;
}

.user-detail-password.hidden {
  display: none;
}
.user-detail-info-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-detail-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
}
.user-detail-item{
    padding: 6px 12px;
}
.user-detail-row-container {
    border: 1px solid #cccccc34;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
  }
  
  .user-detail-row-static {
    margin-left: 64px;
    display: flex;
    justify-content: space-between;
  }
  
  .user-detail-static {
    flex: 1;
    padding:  12px;
  }
  .user-detail-row-static > span {
    font-weight: 600;
  }
  .user-detail-static > span {
    font-weight: 500;
  }
  .user-detail-edit {
  padding: 8px 14px;
  min-width: 80px;
  cursor: pointer;
  border: 1px solid #cccccc3f;
  margin-right: 12px;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-detail-edit:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-detail-edit:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  .user-detail-close {
    cursor: pointer;
    padding: 12px 15px;
    border-radius: 21px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .user-detail-close:hover {
    background-color: #3a3a3a;
  }
  .user-change-email, .user-change-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
  }
  .user-change-email  > span:first-child{
    font-weight: 600;
  }
  .user-change-name{
    padding: 6px 12px;
  }
  .user-change-email-input{
    color: #ccc;
    background: none;
    border: none;
    border-bottom: 1px solid #cccccc5b;
    width: 50%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  
  .user-change-email-input:hover,
.user-change-email-input:focus-visible {
  border-color: #007bff !important;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}
.user-change-email-btn,.user-change-name-btn{
  width: 30%;
  margin-left: auto;
}
.user-change-name-btn{
  width: 50%;
}
.user-change-email-btn > button,
.user-change-name-btn  >button {
  background-color: #3a3a3a;

}
.user-change-hide{
  opacity: 0;
  visibility: hidden;
  display: none;
}
.user-detail-login-item{
  display: flex;
}
.user-password{
  display: flex;
}

.user-password > input{
  color: #ccc;
  background: none;
  border: none;
  border-bottom: 1px solid #cccccc5b;
  width: 50%;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 12px;
}

.user-password > input:hover,
.user-password > input:focus-visible {
  border-color: #007bff !important;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

