:root{
    --background-color: #333;
    --icon-color: #e8eaed;
    --base-font-size: 16px;
    --menu-font-color: #c3c2bf;
    --background-base-web: #1a1a1a;
    --navbar-base-color: #1f1f1f;
    --menu-hover-color: #404144;
    --dropdown-option-hover: #424242;
    --notebook-item-background: #333438;
    --note-item-checked: #27272a;
    --note-editer-header: #46484e;
    --note-suggest-background: #3b3f47;
    
}