:root{
    --background-color: #333;
    --icon-color: #e8eaed;
    --base-font-size: 16px;
    --menu-font-color: #c3c2bf;
    --background-base-web: #1a1a1a;
    --navbar-base-color: #1f1f1f;
    --menu-hover-color: #404144;
    --dropdown-option-hover: #424242;
    --notebook-item-background: #333438;
    --note-item-checked: #27272a;
    --note-editer-header: #46484e;
    --note-suggest-background: #3b3f47;
    
}
[data-theme="light"] {
    --background-color: #f0f0f0;
    --icon-color: #333;
    --base-font-size: 16px;
    --menu-font-color: #333;
    --background-base-web: #ffffff;
    --navbar-base-color: #e0e0e0;
    --menu-hover-color: #d0d0d0;
    --dropdown-option-hover: #c0c0c0;
    --notebook-item-background: #f5f5f5;
    --note-item-checked: #e0e0e0;
    --note-editer-header: #e0e0e0;
    --note-suggest-background: #d0d0d0;
}