.character-count{
    position: absolute;
    top: 65px;
    right: 10px;
    height: 40px;
    line-height: 40px;
    color: #ccc;
}
.ql-picker-options{
    background-color: var(--note-editer-header) !important;
}