

*{
    box-sizing: border-box;
  
  }
  body {
      background-color: #1a1a1a;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
    html{
      height: 100vh;
      width: 100%;
    }
    #home-page{
      font-size: var(--base-font-size);
      height: 100%;
      width: 100%;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: var(--background-color);
      height: 70px;
      border-bottom: solid 2px #131314;
    }
    
    .logo-name {
      color: #cccccc;
      font-size: 1.5rem;
    }
    
    .logo-name span {
      font-size: 0.875rem;
      color: #cccccc96;
    }
    
    .icons {
      display: flex;
      align-items: center;
    }
    
    .icon, .profile {
      margin-left: 20px;
      font-size: 1.125rem;
    }
    
    .profile {
      background-color: purple;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    
    .content-container {
      padding: 48px 16px 16px;
      width: 100%;
      justify-content: center;
      height: calc(100vh - 75px);
      background-color: #131314;
    }
    .content{
      width: 85%;
      max-width: 1280px;
      height: 100%;
      justify-content: center;
      margin: auto;
    }
    
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .notebook-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
    }
  
  
  
  
  
  
  
  
  
    /* CSS cho Notebook */
    .notebook {
      background-color: var(--background-color);
      width: 224px;
      height: 224px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      padding: 10px;
      cursor: pointer;
    }
    .notebook:hover{
      transform: scale(1.04);
      transition: ease-in .25s;
    }
    .notebook-header-homepage{
      width: 100%;
      height: 40%;
      display: flex;
      color: var(--icon-color);
      /* position: relative; */
    }
    .notebook-icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      margin: 5px;
  }
    .notebook-icon img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      z-index: 0 !important; 
  }
    .notebook-option {
      padding: 10px;
      margin-left: auto;
      margin-right: 10px;
      /* position: absolute; */
      position: relative;
      right: 5px;
      z-index: 5;

    }
  
    .notebook-option:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 18px;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      opacity: 0;
      transition: width 0.3s, height 0.3s, opacity 0.3s;
    }
  
    .notebook-option:hover:before {
      width: 40px;
      height: 40px;
      opacity: 1;
    }
    .notebook-name-homepage{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 40%;
      font-size: 1.5rem;
      padding: 0 5px;
    }
    .notebook-detail{
      width: 100%;
      height: 20%;
      padding: 10px 5px;
    }
    .notebook-date,
    .notebook-count-source{
      font-size: 0.75rem;
    }
  
  
  
  
  
  
  
  
  
    .content-title{
      font-size: 1.5rem;
      font-weight: 400;
      padding: 20px 0;
    }
    .notebook.new {
      background-color: var(--background-base-web);
      border: #cccccc3f solid 1px;
    }
    
    .plus {
      font-size: 2.5rem;
      margin-bottom: 24px;
      min-height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .label{
      font-size: 1.5rem;
    }
    .notebook-option-dropdown {
      padding: 8px 12px;
      width: 200px;
      bottom: -48px;
      left: 0;
      position: absolute;
      background-color: var(--dropdown-option-hover);
      border-radius: 12px;
    }
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.3s forwards;
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}

    
  .notebook-option-item{
    width: 100%;
    padding: 12px 24px;
    padding-left: 12px;
    border-radius: 8px;
  }
  .notebook-option-item:hover{
    background-color: #484848;
  }


.notebook-delete-block,
.notebook-change-block{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a69;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.notebook-delete-block.show,
.notebook-change-block.show {
  opacity: 1;
  visibility: visible;
}
.notebook-avatar > img{
  height: 120px;
  width: 120px;
}
.notebook-delete,.notebook-change{
  color: #979da3;
  padding: 16px;
  font-size: 1.25rem;
  min-width: 295px;
  height: 148px;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: scale(0.9);
}
.notebook-change{
  height: 340px;
}
.notebook-delete-name{
  padding: 20px 24px;

}
.notebook-delete-block.show .notebook-delete,
.notebook-change-block.show .notebook-change {
  transform: scale(1);
}
.notebook-delete-footer,
.notebook-change-footer{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.notebook-delete-cancel,
.notebook-change-cancel{
  background: none;
  color: #86aff0;
  width: 64px;
  margin-right: 6px;
}
.notebook-delete-confirm,
.notebook-change-confirm{
  color: #86aff0;
  background: none;
  width: 64px;
}

.notebook-change-main{
  padding: 24px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.input-container{
  
}
.notebook-change-input{
  color: #979da3;
  margin-top: 24px;
  font-weight: 500;
  font-size: 1.05rem;
  background: none;
  border: solid 1px #ccc;
  padding: 16px;
  border-radius: 6px;
}
.notebook-change-main input:focus{
  border: solid 2px #46acdb !important;
}
.input-container {
  position: relative;
  margin-top: 24px;
  width: 90%;
}

.notebook-label {
  position: absolute;
  top: 30%;
  left: 16px;
  transform: translateY(-50%);
  background-color: #202124;
  padding: 0 4px;
  transition: 0.3s;
  color: #979da3;
  font-size: 0.9rem;
  font-weight: 500;
}

.notebook-change-input {
  color: #979da3;
  width: 100%;
  background: none;
  border: solid 1px #ccc;
  padding: 16px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.05rem;
  transition: 0.3s;
}

.notebook-change-input:focus, .notebook-change-input:not(:placeholder-shown) {
  border-color: #888;
}

.notebook-change-input:focus + .notebook-label, .notebook-change-input:not(:placeholder-shown) + .notebook-label {
  top: 5px;
  transform: translateY(-100%) translateY(8px);
  font-size: 0.85rem;
  color: #ccc;
}


.user-icon{
  padding: 12px 24px;
  cursor: pointer;
}
.user-icon > span{
  padding-right: 16px;
}
.user-profile-block{
  position: relative;
  z-index: 10;
}
.session-check{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000059;
  z-index: 10000000000;
}

.session-container{
  border-radius: 20px;
  padding: 32px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-base-web);
}

.session-container > img{
  display: block;
  height: 100px;
  width: 100px;
}
.session-container > button{
  width: 50%;
}